@model System.Collections.Generic.List<WebMVC.Models.Musica>
@{
    ViewData["Title"] = "MUSIC APP";
}

<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Nome"], seja bem vindo(a)!</h3>

<p>Sua Playlist</p>
@foreach(var item in @Model)
{
    <ul>
        <li><strong>Título:</strong>@item.Titulo</li>
        <li><strong>Compositor:</strong>@item.Compositor</li>
        <li><strong>Estilo:</strong>@item.Estilo</li>
    </ul>
}
